{{> header title=pagina.tipo}}

    <p class="lead">
        {{#ifeq pagina.tipo "Organizacion"}}
            {{pagina.titulo}}
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCOrganizacionNombre">Nombre de la Organizacion</label>
                        <input type="text" class="form-control" id="inputCOrganizacionNombre" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCOrganizacionAsesor">Asesor General</label>
                        <input type="text" class="form-control" id="inputCOrganizacionAsesor" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCOrganizacionWeb">Direccion Web</label>
                    <input type="text" class="form-control" id="inputCOrganizacionWeb" disabled>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputCOrganizacionCedula">Cedula Juridica</label>
                        <input type="text" class="form-control" id="inputCOrganizacionCedula" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCOrganizacionTelefono">Telefono</label>
                        <input type="text" class="form-control" id="inputCOrganizacionTelefono" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCOrganizacionCorreo">Correo</label>
                        <input type="email" class="form-control" id="inputCOrganizacionCorreo" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputCOrganizacionProvincia">Provincia</label>
                        <input type="text" id="inputCOrganizacionProvincia" class="form-control" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCOrganizacionCanton">Canton</label>
                        <input type="text" id="inputCOrganizacionCanton" class="form-control" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCOrganizacionDistrito">Distrito</label>
                        <input type="text" id="inputCOrganizacionDistrito" class="form-control" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCOrganizacionOtra">Otras Señas</label>
                    <input type="text" class="form-control" id="inputCOrganizacionOtra" disabled>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button type="button" class="btnOrganizacion2 btn-danger" onclick="consultarOrganizacion()">Cargar</button>
                    </div>
                </div>
            </form>
        {{/ifeq}}
        {{#ifeq pagina.tipo "Coordinacion"}}
            {{pagina.titulo}}
            <body onload="">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="labelCCoordinacion_Miembro"><h4>Miembro</h4></label>
                            <ul id="listCCoordinacion_Miembro">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="labelCCoordinacion_Tipo"><h4>Tipo</h4></label>
                            <ul id="listCCoordinacion_Tipo">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="labelCCoordinacion_Estado"><h4>Estado</h4></label>
                            <ul id="listCCoordinacion_Estado">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                    </div>
                </form>
            </body>
        {{/ifeq}}

        {{#ifeq pagina.tipo "Zona"}}
            {{pagina.titulo}}
            <body onload="cargarZonas('inputCZona_Zona')">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCZona_Zona"><h4>Zona</h4></label>
                            <select id="inputCZona_Zona" class="form-control">
                                <option selected>Zonas Disponibles</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <button type="button" class="btnCZona btn-danger" onclick="consultarZona()">Buscar</button>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="listCZona_Rama"><h4>Ramas</h4></label>
                            <ul id="listCZona_Rama">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="listCZona_CantMiembros"><h4>Cantidad Miembros</h4></label>
                            <ul id="listCZona_CantMiembros">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="listCZona_Creacion"><h4>Fecha Creacion</h4></label>
                            <ul id="listCZona_Creacion">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="listCZona_Mienbros"><h4>Miembros</h4></label>
                            <ul id="listCZona_Miembro">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="listCZona_Tipo"><h4>Tipo</h4></label>
                            <ul id="listCZona_Tipo">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="listCZona_Procedencia"><h4>Procedencia</h4></label>
                            <ul id="listCZona_Procedencia">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="listCZona_Estado"><h4>Estado</h4></label>
                            <ul id="listCZona_Estado">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                    </div>
                </form>
            </body>
            
        {{/ifeq}}

        {{#ifeq pagina.tipo "Rama"}}
            {{pagina.titulo}}
            <body onload="cargarRamas('inputCRama_Rama'); cargarZonas('inputCRama_Zona');">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCRama_Zona"><h4>Zona</h4></label>
                            <select id="inputCRama_Zona" class="form-control"  onchange="actualizarRamas('inputCRama_Rama')">
                                <option selected>Zonas Disponibles</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCRama_Rama"><h4>Rama</h4></label>
                            <select id="inputCRama_Rama" class="form-control">
                                <option selected>Ramas Disponibles</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <button type="button" class="btnCRama btn-danger" onclick="consultarRama()">Buscar</button>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="listCRama_Grupo"><h4>Grupo</h4></label>
                            <ul id="listCRama_Grupo">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="listCRama_CantMiembros"><h4>Cantidad Miembros</h4></label>
                            <ul id="listCRama_CantMiembros">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="listCRama_Creacion"><h4>Fecha Creacion</h4></label>
                            <ul id="listCRama_Creacion">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="bmd-label-floating" for="listCRama_Miembro"><h4>Miembro</h4></label>
                            <ul id="listCRama_Miembro">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="bmd-label-floating" for="listCRama_Tipo"><h4>Tipo</h4></label>
                            <ul id="listCRama_Tipo">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="bmd-label-floating" for="listCRama_Procedencia"><h4>Procedencia</h4></label>
                            <ul id="listCRama_Procedencia">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="bmd-label-floating" for="listCRama_Estado"><h4>Estado</h4></label>
                            <ul id="listCRama_Estado">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                    </div>
                </form>
            </body>
        {{/ifeq}}

        {{#ifeq pagina.tipo "Grupo"}}
            {{pagina.titulo}}
            <body onload="cargarGrupos('inputCGrupo_Grupo'); cargarRamas('inputCGrupo_Rama'); cargarZonas('inputCGrupo_Zona')">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCGrupo_Zona"><h4>Zona</h4></label>
                            <select id="inputCGrupo_Zona" class="form-control" onchange="actualizarGrupos('inputCGrupo_Rama')">
                                <option selected>Zonas Disponibles</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCGrupo_Rama"><h4>Rama</h4></label>
                            <select id="inputCGrupo_Rama" class="form-control" onchange="actualizarGrupos('inputCGrupo_Grupo')">
                                <option selected>Ramas Disponibles</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCGrupo_Grupo"><h4>Grupo</h4></label>
                            <select id="inputCGrupo_Grupo" class="form-control">
                                <option selected>Grupos Disponibles</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <button type="button" class="btnCGrupo btn-danger" onclick="consultarGrupo()">Buscar</button>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="listCGrupo_Miembro"><h4>Miembro</h4></label>
                            <ul id="listCGrupo_Miembro">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="listCGrupo_Tipo"><h4>Tipo</h4></label>
                            <ul id="listCGrupo_Tipo">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="listCGrupo_Estado"><h4>Estado</h4></label>
                            <ul id="listCGrupo_Estado">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                    </div>
                </form>
            </body>           
        {{/ifeq}}

        {{#ifeq pagina.tipo "Miembro"}}
            {{pagina.titulo}}
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="bmd-label-floating" for="inputCMiembroIdentificacion"><h4>ID Miembro</h4></label>
                        <input type="text" class="form-control" id="inputCMiembroIdentificacion">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button type="button" class="btnRol btn-danger" onclick="consultarMiembro()"><h4>Consultar</h4></button>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCMiembroNombre"><h4>Nombre</h4></label>
                        <input type="text" class="form-control" id="inputCMiembroNombre" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCMiembroApellido"><h4>Apellido</h4></label>
                    <input type="text" class="form-control" id="inputCMiembroApellido" disabled>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputCMiembroCedula"><h4>Numero de Identificacion</h4></label>
                        <input type="text" class="form-control" id="inputCMiembroCedula" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCMiembroTelefono"><h4>Telefono</h4></label>
                        <input type="text" class="form-control" id="inputCMiembroTelefono" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCMiembroCorreo"><h4>Correo</h4></label>
                        <input type="email" class="form-control" id="inputCMiembroCorreo" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputCMiembroProvincia"><h4>Provincia</h4></label>
                        <input type="text" class="form-control" id="inputCMiembroProvincia" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCMiembroCanton"><h4>Canton</h4></label>
                        <input type="text" class="form-control" id="inputCMiembroCanton" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCMiembroDistrito"><h4>Distrito</h4></label>
                        <input type="text" class="form-control" id="inputCMiembroDistrito" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCMiembroOtra"><h4>Otras Señas</h4></label>
                    <input type="text" class="form-control" id="inputCMiembroOtra" disabled>
                </div>
            </form>
        {{/ifeq}}
    </p>
{{>footer}}