{{> header title=jerarquia.tipo}}
    <p class="lead">
        {{#ifeq jerarquia.tipo "Organizacion"}}
            {{jerarquia.nombre}}
            <form action="/consultar/Organizacion" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="bmd-label-floating" for="inputDOrganizacionNombre">Nombre de la Organizacion</label>
                        <input type="text" class="form-control" id="inputDOrganizacionNombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="bmd-label-floating" for="inputDOrganizacionAsesor">Asesor General</label>
                        <input type="text" class="form-control" id="inputDOrganizacionAsesor">
                    </div>
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating" for="inputDOrganizacionWeb">Direccion Web</label>
                    <input type="text" class="form-control" id="inputDOrganizacionWeb">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="bmd-label-floating" for="inputDOrganizacionCedula">Cedula Juridica</label>
                        <input type="text" class="form-control" id="inputDOrganizacionCedula">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="bmd-label-floating" for="inputDOrganizacionTelefono">Telefono</label>
                        <input type="text" class="form-control" id="inputDOrganizacionTelefono">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="bmd-label-floating" for="inputDOrganizacionCorreo">Correo</label>
                        <input type="email" class="form-control" id="inputDOrganizacionCorreo">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputDOrganizacionProvincia">Provincia</label>
                        <select id="inputDOrganizacionProvincia" class="form-control">
                            <option selected>San Jose</option>
                            <option>Heredia</option>
                            <option>Alajuela</option>
                            <option>Cartago</option>
                            <option>Limon</option>
                            <option>Puntarenas</option>
                            <option>Guanacaste</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputDOrganizacionCanton">Canton</label>
                        <select id="inputDOrganizacionCanton" class="form-control">
                            <option selected>Opcion 1</option>
                            <option>Opcion 2</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputDOrganizacionDistrito">Distrito</label>
                        <select id="inputDOrganizacionDistrito" class="form-control">
                            <option selected>Opcion 1</option>
                            <option>Opcion 2</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating" for="inputDOrganizacionOtra">Otras Señas</label>
                    <input type="text" class="form-control" id="inputDOrganizacionOtra">
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button class="btnDOrganizacion btn-danger" onclick="definirOrganizacion()">Guardar</button>
                    </div>
                </div>
            </form>     
        {{/ifeq}}

        {{#ifeq jerarquia.tipo "Coordinacion"}}
            {{jerarquia.nombre}}
        {{/ifeq}}

        {{#ifeq jerarquia.tipo "Zona"}}
            {{jerarquia.nombre}}
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="bmd-label-floating" for="inputDZonaNombre">Nombre de la Zona</label>
                        <input type="text" class="form-control" id="inputDZonaNombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="bmd-label-floating" for="inputDZonaAsesor">Identificador</label>
                        <input type="text" class="form-control" id="inputDZonaAsesor">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button class="btnDZona btn-danger" onclick="definirZona()">Agregar</button>
                    </div>
                </div>
            </form>
        {{/ifeq}}

        {{#ifeq jerarquia.tipo "Rama"}}
            {{jerarquia.nombre}}
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="listDRama_Zona">Zona</label>
                        <select id="listDRama_Zona" class="form-control">
                            <option selected>Atlantica</option>
                            <option>Opcion 2</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="bmd-label-floating" for="inputDRamaNombre">Nombre de la Rama</label>
                        <input type="text" class="form-control" id="inputDRamaNombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="bmd-label-floating" for="inputDRamaIdentificador">Identificador</label>
                        <input type="text" class="form-control" id="inputDRamaIdentificador">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button class="btnDRama btn-danger" onclick="definirRama()">Agregar</button>
                    </div>
                </div>
            </form>
        {{/ifeq}}

        {{#ifeq jerarquia.tipo "Grupo"}}
            {{jerarquia.nombre}}
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="listDGrupo_Zona">Zona</label>
                        <select id="listDGrupo_Zona" class="form-control">
                            <option selected>Atlantica</option>
                            <option>Opcion 2</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="listDGrupo_Rama">Rama</label>
                        <select id="listDGrupo_Rama" class="form-control">
                            <option selected>Oeste</option>
                            <option>Opcion 2</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="bmd-label-floating" for="inputDGrupoNombre">Nombre de la Grupo</label>
                        <input type="text" class="form-control" id="inputDGrupoNombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="bmd-label-floating" for="inputDGrupoIdentificador">Identificador</label>
                        <input type="text" class="form-control" id="inputDGrupoIdentificador">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button class="btnDGrupo btn-danger" onclick="definirGrupo()">Agregar</button>
                    </div>
                </div>
            </form>
        {{/ifeq}}

        {{#ifeq jerarquia.tipo "Miembro"}}
            {{jerarquia.nombre}}
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="bmd-label-floating" for="inputDMiembroNombre">Nombre</label>
                        <input type="text" class="form-control" id="inputDMiembroNombre">
                    </div>
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating" for="inputDMiembroApellido">Apellido</label>
                    <input type="text" class="form-control" id="inputDMiembroApellido">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="bmd-label-floating" for="inputDMiembroCedula">Numero de Identificacion</label>
                        <input type="text" class="form-control" id="inputDMiembroCedula">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="bmd-label-floating" for="inputDMiembroTelefono">Telefono</label>
                        <input type="text" class="form-control" id="inputDMiembroTelefono">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="bmd-label-floating" for="inputDMiembroCorreo">Correo</label>
                        <input type="email" class="form-control" id="inputDMiembroCorreo">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputDMiembroProvincia">Provincia</label>
                        <select id="inputDMiembroProvincia" class="form-control">
                            <option selected>San Jose</option>
                            <option>Heredia</option>
                            <option>Alajuela</option>
                            <option>Cartago</option>
                            <option>Limon</option>
                            <option>Puntarenas</option>
                            <option>Guanacaste</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputDMiembroCanton">Canton</label>
                        <select id="inputDMiembroCanton" class="form-control">
                            <option selected>Opcion 1</option>
                            <option>Opcion 2</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputDMiembroDistrito">Distrito</label>
                        <select id="inputDMiembroDistrito" class="form-control">
                            <option selected>Opcion 1</option>
                            <option>Opcion 2</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating" for="inputDMiembroOtra">Otras Señas</label>
                    <input type="text" class="form-control" id="inputDMiembroOtra">
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button class="btnRol btn-danger" onclick="definirMiembro()">Guardar</button>
                    </div>
                </div>
            </form>
        {{/ifeq}}

        {{#ifeq jerarquia.tipo "Rol"}}
            {{jerarquia.nombre}}
            
        {{/ifeq}}
    </p>
{{>footer}}